/*-----------------------------------*\
 * #style.css
\*-----------------------------------*/
/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */
   --spanish-gray: hsl(0, 0%, 60%);
   --eerie-black: hsl(0, 0%, 13%);
   --salmon-pink: hsl(353, 100%, 78%);
   --sandy-brown: hsl(29, 90%, 65%);
   --bittersweet: hsl(0, 100%, 70%);
   --ocean-green: hsl(152, 51%, 52%);
   --davys-gray: hsl(0, 0%, 33%);
   --onyx: hsl(0, 0%, 27%);
  --medium-sea-green: hsl(157, 100%, 36%);
  --silver-chalice: hsl(0, 0%, 66%); 
  --granite-gray: hsl(0, 0%, 40%);
  --sonic-silver: hsl(208, 7%, 46%);
  --dodger-blue: hsl(205, 100%, 50%);
  --oxford-blue: hsl(219, 37%, 18%);
  --light-gray: hsl(0, 0%, 80%);
  --gunmetal: hsl(216, 14%, 21%);
  --cultured: hsl(210, 12%, 97%);
  --charcoal: hsl(210, 29%, 24%);
  --white: hsl(0, 0%, 100%);
  --jet: hsl(0, 0%, 20%);
  --raisin-black-2:  hsl(245, 16%, 16%);
  --gradient: linear-gradient(0.5turn, #FFFBFB, hsl(0, 0%, 100%));
  /**
   * typography
   */
  --ff-rubik: "Rubik", sans-serif;

  --fs-1: 28px;
  --fs-2: 26px;
  --fs-3: 24px;
  --fs-4: 20px;
  --fs-5: 18px;
  --fs-6: 17px;
  --fs-7: 15px;
  --fs-8: 13px;

  --fw-300: 300;
  --fw-500: 500;

    /**
     * border-radius
     */
  
     --border-radius-md: 10px;
     --border-radius-sm: 5px;

  /**
   * transition
   */

  --transition: 0.25s ease;

  /**
   * spacing
   */
  --section-padding: 20px 0;

}

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

a,
img,
span,
input,
button,
ion-icon { display: block; }  

label {
  color: red;
  font-size: small;
}

ion-icon { --ionicon-stroke-width: 25px; }

:focus { outline-offset: 4px; }

::marker { color: var(--sonic-silver); }

html {
  font-family: var(--ff-rubik);
  scroll-behavior: smooth;
}

body { background: var(--white); }

/**
 * scrollbar style
 */

 body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: var(--white);
  border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid var(--white);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

/* Preloader Style */

.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #ffffff;
  z-index: 99999;
}

.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
  
.preloader .loader .spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}
  
.preloader .loader .spinner .spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  animation: spinner-linspin 1568.2353ms linear infinite;
}
  
.preloader .loader .spinner .spinner-container .spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
  
.preloader .loader .spinner .spinner-container .spinner-rotator .spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}
  
.preloader .loader .spinner .spinner-container .spinner-rotator .spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}
  
.preloader .loader .spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  /* Spinner Color */
  border-color: var(--salmon-pink) var(--salmon-pink) #E9E9E9;
  border-radius: 50%;
  border-width: 6px;
}
  
.preloader .loader .spinner-left .spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #E9E9E9;
  animation: spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
  
  .preloader .loader .spinner-right .spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #E9E9E9;
  animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
  
/* Preloader Animations */
  
@keyframes spinner-linspin {
  to {
    transform: rotate(360deg);
  }
}
  
@keyframes spinner-easespin {
  12.5% {
    transform: rotate(135deg);
  }
  25% {
    transform: rotate(270deg);
  }
  37.5% {
    transform: rotate(405deg);
  }
  50% {
    transform: rotate(540deg);
  }
  62.5% {
    transform: rotate(675deg);
  }
  75% {
    transform: rotate(810deg);
  }
  87.5% {
    transform: rotate(945deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
  
@keyframes spinner-left-spin {
  0% {
    transform: rotate(130deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(130deg);
  }
}
  
@keyframes right-spin {
  0% {
    transform: rotate(-130deg);
  }
  50% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-130deg);
  }
}

/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.btn {
  color: var(--oxford-blue);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  text-transform: capitalize;
  padding: 10px 34px;
  border: 1px solid var(--light-gray);
  margin: 10px;
}

button {
  position: relative;
  overflow: hidden;
  transition: all .4s linear;
  cursor: pointer;
}

.btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  padding: 50%;
  border-radius: 50%;
  margin: auto;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: all .4s linear;
  transform: translate3d(-50%, -50%, 0) scale(0);
}

button:hover::before {
  transform: translate3d(-50%, -50%, 0) scale(1.5);
}

button {
  text-transform: none;
}

header button {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease-out 0s;
  margin: 0 5px;
  cursor: pointer;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

.h1,
.h2,
.h3,
.h4 {
  color: var(--bittersweet);
  font-weight: var(--fw-500);
}

.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3);}

.h4 { font-size: var(--fs-5); }

/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

header {
  padding: 3px 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 4;
  transition: var(--transition);
  box-shadow: -2px 0 4px hsl(0deg 0% 0% / 10%)
}

header .container {
  max-width: unset;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .logo {
  width: 70px;
}

.overlay {
  position: absolute;
  background: transparent;
  transition: var(--transition);
}

.overlay.active {
  background: hsla(0, 0%, 0%, 0.5);
  pointer-events: all;
}

/*-----------------------------------*\
 * #LOGIN
\*-----------------------------------*/

section {
	background: url(../images/job562-nunoon-05-g.jpg) ;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 13px;
}

.log button {
	border-radius: 20px;
	border: 1px solid var(--spanish-gray);
	background-color: var(--spanish-gray);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}

.log button:active {
	transform: scale(0.95);
}

.log button:focus {
	outline: none;
}

.log button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.card-footer a {
  color: var(--white);
}

input {
	background-color: #eee;
	border: none;
  padding: 12px 15px;
	margin: 8px 0;
	outline: none;
  width: 300px;
  text-align: center;
}

.log .btn {
	border-radius: 20px;
	border: 1px solid var(--spanish-gray);
	background-color: var(--spanish-gray);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
  width: min-content;
}

.log .btn:active {
	transform: scale(0.95);
}

.log .btn:focus {
	outline: none;
}

.log .btn.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px 20px;
	height: 100%;
	text-align: center;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

.card-footer {
  display: flex;
}

.login {
	background-color: #fff;
	border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: absolute;
	overflow: hidden;
	width: 800px;
	max-width: 100%;
	min-height: 488px;
  top: 150px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.login.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.login.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
  z-index: 3;
}

input:focus {
	border: 1.9px solid #555;
	border-radius: 5px;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-login {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 1;
}

.login.right-panel-active .overlay-login {
	transform: translateX(-100%);
}

.overlay_ {
	background: var(--spanish-gray);
	background: -webkit-linear-gradient(to left,#CEBAB3,  #818082);
	background: linear-gradient(to right,#CEBAB3,#818082);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.login.right-panel-active .overlay_ {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.login.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.login.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.social:hover {
	background-color: var(--ocean-green);
	color: #fff;
}

footer p {
    margin: 10px 0;
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

.ghost_mobile {
  display:none;
}

#mobile_para {
  display: none;
}

/*-----------------------------------*\
 * #RESPONSIVE LOGIN
\*-----------------------------------*/

@media screen and (max-height: 653.98px) {
  section {
    height: 120vh;
  }
}

@media only screen and (max-width: 575.98px) {

  section {
    background-image: none;
    background-color: #DDDDDD;
  }

  .login {
    min-height: 550px;
    top: 130px;
  }

  body {
    background-color: #DDDDDD;
  }

  header {
    box-shadow: -2px 0 4px hsla(0, 0%, 0%, 0.1);
  }

  .form-container h1 {
    font-size: 1.1rem;
    font-weight: 700;
  }

  .login {
    overflow: auto;
  }

  .overlay-login {
    display: none;
  }

  .sign-up-container {
    width: 100%;
  }

  .sign-in-container {
    width: 100%;
  }

  .login.right-panel-active .sign-up-container {
    transform: translateX(0);
    z-index: 1;
  }

  .login.right-panel-active .sign-in-container {
    transform: translateX(-100%);
    z-index: 1;
  }	 

  .ghost_mobile {
    display:block;
    font-size: 0rem;
    background-image: linear-gradient(180deg,#505050,var(--spanish-gray));
    width: max-content;
  }
  
  #mobile_para {
    display: block;
  }
}

/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer-bottom h4  {
  color: var(--sonic-silver);
}

.footer-list li:first-child { margin-bottom: 15px; }

.footer-link {
  color: var(--sonic-silver);
  transition: var(--transition);
  padding-block: 5px;
}

.footer-link:is(:hover, :focus) { 
  color: var(--white);
  transform: translateX(5px);
}

.divider {
  border: none;
  background: linear-gradient(90deg, transparent, hsl(0, 0%, 88%) 25% 75%, transparent);
}

.footer-bottom {
  padding: -20px 0 30px ;
  background: #23222F;
  text-align: center;
}

.copyright {
  color: var(--sonic-silver);
  line-height: 1.5;
  margin-bottom: 15px;
}

.copyright > a {
  color: inherit;
  display: inline-block;
}

.copyright > a:is(:hover, :focus) { text-decoration: underline; }

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px
}

.social-list > li { position: relative; }

.social-link { 
  color: var(--sonic-silver);
  transition: var(--transition);
} 

ion-icon  {
  font-size: 25px;
}

.social-link:is(:hover, :focus) { color: #fff; }

.social-list a {
  size: 30px;
}

.social-list  h4 {
  color: var(--sonic-silver);
  font-style: normal;
}

.footer-list button {
  border-radius: 10px;
}

.footer-list button:hover{
  color: white;
  background-color: var(--salmon-pink);
  border: none;
}

.footer-logo {
  width: 60px;
}

/*-----------------------------------*\
 * #RESPONSIVE
\*-----------------------------------*/

/**
 * responsive for lareger than 450px screen
 */

@media (min-width: 450px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 30px;
  }

  /**
   * REUSED STYLE
   */

  .container { padding: 0 25px; }

  /**
   * FOOTER
   */

  .footer-link-box { grid-template-columns: 1fr 1fr; }
}

/**
 * responsive for lareger than 500px screen
 */

@media (min-width: 500px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 32px;
    --fs-2: 32px;
    --fs-3: 30px;
    --fs-5: 19px;
    --fs-8: 15px;

  }
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 480px;
    margin-inline: auto;
  }
  .btn { --fs-7: 17px; }
}

/**
 * responsive for lareger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 40px;
    --fs-2: 34px;
    --fs-3: 32px;
  }

  /**
   * REUSED STYLE
   */

  .container { max-width: 820px; }

  /**
   * FOOTER
   */

  .footer-link-box { grid-template-columns: repeat(3, 2fr); }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright { margin-bottom: 0; }

}

/**
 * responsive for lareger than 1024px screen
 */

@media (min-width: 1024px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 43px;
    --fs-2: 41px;
    --fs-3: 38px;
    --fs-7: 16px;
    --fs-8: 16px;

    /**
     * spacing
     */

    --section-padding: 50px 0;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 980px;
    padding: 0;
  }

  /**
   * HEADER
   */

  header {
    padding: 16px 15px;
    background: transparent;
  }

  header .container { max-width: 980px; }

  /**
   * FOOTER
   */

  .footer-list li:not(:last-child) { margin-bottom: 15px; }

  .footer-list li:first-child { margin-bottom: 20px; }

  .footer-link { min-width: 130px; }

}

/**
 * responsive for lareger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 52px;
    --fs-2: 50px;
    --fs-3: 46px;
    --fs-5: 22px;
    --fs-6: 19px;

  }

  /**
   * REUSED STYLE
   */

  .container { max-width: 1100px; }

  /**
   * HEADER
   */

  header .container { max-width: 1200px; }

  /**
   * FOOTER
   */

  .footer-link {
    font-size: 18px;
    min-width: 140px;
  }

  .copyright,
  .social-link { font-size: 17px; }

  .social-list { column-gap: 21px; }

  .social-list > li:not(:last-child)::after { right: 10px; }

}

